<%- include ('partials/head') %>

    <body>
        <%- include('partials/navbar') %>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="content" class="text-light">
                            <h1 id="home-h1">Table Mahasiswa</h1>
                            <h3>Aplikasi Untuk Memvalidasi Nilai Mahasiswa</h3>
                            <hr>
                            <a href="/view" class="btn btn-lg text-light" id="btn-home">Lihat Table</a>
                        </div>
                    </div>
                </div>
            </div>
    </body>

    </html>